extends layout

block content
  div.mosaic
    if pictures
      for image in pictures
        a(href='/delete/'+image.id)
          img.image(src= image.image)
          span delete image
  div.form
    form.input(action='/' method ='POST')
      input(type='text' name='image' id='image_input' placeholder="paste image link")
      button(type = 'submit') add image
  
    
      
